table{
    border: none;
    font-size: 14pt;
    color: #666666;
    border-color: lightgray;
    margin: auto;
}
input[type="text"]{
    border-radius: 5px;
    width: 12cm;
    border-color: lightgray;
    height: 30px;
}

h1{
    text-align: center;
    color: #666666;
}

select{
    border-radius: 5px;
    border: solid 2px;
    width: 2cm;
    border-color: #666666;
    height: 30px;
}

#add{
    border: solid 0px;
    border-radius: 4px;
    background-color: white;
    color: rgb(71, 122, 218); 
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12pt;
    cursor: pointer;
    position: absolute;
  top: 65%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#add:hover {
    background-color: rgb(41, 121, 241);
    color:white;
  }

#save{
    border: solid 1px;
    border-radius: 4px;
    background-color: rgb(49, 118, 221);
    color: white; 
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12pt;
    cursor: pointer;
    position: absolute;
  top: 55%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#save:hover {
    background-color: rgb(4, 94, 228);
    color:white;
  }